@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Noto+Sans+JP:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Edu+VIC+WA+NT+Beginner&family=Noto+Sans+JP:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
nav {
  background: #434343;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 8px 13px;
  border-radius: 5px;
}

a:hover {
  background: pink;
}

.container {
  background-image: url(../assets/img/imagestock_46106920.png);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  position: relative;
}

.content h1 {
  font-size: 60px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #fcffe6;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.content span {
  font-size: 20px;
  color: #f4ffb8;
  margin-left: 10px;
}
.content {
  margin-top: 10%;
  margin-left: 10%;
}

.content .btn {
  display: inline-block;
  background: linear-gradient(45deg, #fcffe6, #d3f261);
  border-radius:5px;
  padding:10px 20px;
  box-sizing: border-box;
  text-decoration: none;
}

.content .img-book{
    height: 80%;
    position:absolute;
    bottom:0;
    right:160px;
}

.out_team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.out_team .card { 
    width:330px;
    height:416px;
    padding:60px 30px;
    margin:20px;
    background:#f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
                -0.5em -0.5em 1em #ffff;
    border-radius: 20px;
}

.out_team .card .content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.out_team .card .content .img1{
    width:180px;
    height:180px;
    border-radius:50%;
    position:relative;
    margin-bottom:10px;
    overflow:hidden
}
.out_team .card .content .img1 img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    object-fit:cover;
}

.out_team .card .content:hover{
    padding-top:10px
}
.out_team .card .content .content1{
    text-align:center;
}
#h1{
    font-family: 'Allura', cursive;
    font-size:50px;
}




